<link rel="stylesheet" href="css/login.css">

<body style="height: 100% ;background-image: url(Images/index_background.png)">
    <p>hekjndgjnfg</p>
    {{!-- <div class="container">
        <div class="row">
            <div class="col-md-4 wrapper fadeInDown">
                <div id="formContent">
                    <form style="padding-top: 60px" action="/login" method="post">
                        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                        <input type="submit" class="fadeIn fourth" value="Log In">
                    </form>

                    <div id="formFooter">
                        <a class="underlineHover" href="#">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}

</body>
