#section1{
    background-color:#f3f3f3;
    height: 100%;    
}

.login-icon{
    color: #cccccc;
    margin-top: 50px;
    font-size: 1.3em;
    background-color: rgba(0, 0, 255, 0);
    border: 3px solid rgba(0, 0, 255, 0);
}

.login-icon:hover{
    color: rgb(41, 41, 163);
}

.login:hover{
    color: rgb(41, 41, 163);
}

.image{
    padding-left:50px;
    background-image: url(Images/index_child.png);
}

.vl {
    margin-top: 30px;
    border-left: 3px solid rgb(207, 207, 207);
    height: 580px;
}

.school{
    font-size: 3.5em;
    margin-left: -100px;
}
.school-des{
    margin-left: -100px;
    font-size: 1.3em;
    text-align: justify;
    padding-right: 30px;
}